name: C/C++ CI

on:
  push:
    branches: 
    - master
    - develop
  pull_request:
    branches:
    - master
    - develop

jobs:
  build:
  container:
    runs-on: ubuntu-latest
    container: shunyaos/shunya:armv7
    steps:
    - uses: actions/checkout@v2
    - name: Setup dir
      run: mkdir build && cd build  
    - name: Run Cmake
      run: cmake ../
    - name: Build
      run: make